/*--------------------------------------------------------------
Box styles:
--------------------------------------------------------------*/
.box {
    border: 1px solid #f0f3bd;
    padding: 0.25em 0.5em;
}

.box.error {
    border-color: #e24949;
}

.box.success {
    border-color: #02c39a;
}