/*--------------------------------------------------------------
Form styles:
--------------------------------------------------------------*/
.form-element {
    display: grid;
    /* padding: 0.25em; */
    grid-template-columns: auto;
    grid-template-areas:
        "label"
        "input"
        "sub-text";
}

form {
    padding: 0.25em;
}

input,
textarea,
select {
    border:1px solid #000;
    grid-area: input;
    /* margin: 0 0.5em; */
}

input,
textarea,
select::placeholder {
    padding: 0.25em 0.5em;
}

label {
    font-size: 0.75em;
    grid-area: label;
    margin: 0.5em 0;
}

form button {
    margin: 0.5em 0;
}

.form-invalid-feedback,
.form-help-text {
    font-size: small;
    grid-area: sub-text;
    text-align: right;
}

.form-invalid-feedback {
    color: #e24949;
}

.form-invalid-feedback:before,
.form-help-text:before {
    content: "* ";
}

.form-hint-text {
    font-size: small;
    font-weight: lighter;
}